<?php

return [
    'projectId' => 'your-project-id',
    'locationId' => 'location-id',
    'keyRingId' => 'your-key-ring',
    'keyId' => 'your-key-id',
    'versionId' => '1',
    'cert' => file_get_contents(__DIR__ . '/your-certificate.crt'),
    'digest' => SetaPDF_Signer_Digest::SHA_256,
];